{{ define "main" }}

<!-- get image from image parameter in the content page -->
{{ with .Params.image }}
{{ $image := resources.Get . }}
{{ with $image }}
<section
    class="sticky top-0 bg-amber-500/5 py-36 hero-section z-[1] before:absolute before:inset-0 before:z-[-1] text-white"
    style="background-image:url('{{ .RelPermalink | relURL }}')">
    {{ else }}
    <!-- Default image URL -->
    {{ $defaultImage := resources.Get "images/hero-bg.jpg" }}
    {{ with $defaultImage }}
    <section
        class="sticky top-0 bg-amber-500/5 py-36 hero-section z-[1] before:absolute before:inset-0 before:z-[-1] text-white"
        style="background-image:url('{{ .RelPermalink | relURL }}')">
        {{ end }}
        {{ end }}
        {{ else }}
        <!-- Default image URL -->
        {{ $defaultImage := resources.Get "images/hero-bg.jpg" }}
        {{ with $defaultImage }}
        <!-- main section start -->
        <section
            class="sticky top-0 bg-amber-500/5 py-36 hero-section z-[1] before:absolute before:inset-0 before:z-[-1] text-white"
            style="background-image:url('{{ .RelPermalink | relURL }}')">
            {{ end }}
            {{ end }}

            <!-- title Of Page -->
            <h1
                class="text-xl md:text-4xl text-white font-medium text-center w-fit mx-auto relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                {{ .Title }}
            </h1>

            <div class="container text-center">
                <!-- Description -->
                <h3 class="w-full md:w-3/4 mx-auto text-lg font-medium my-5 text-slate-100">
                    {{ .Params.sectionDescription }}
                </h3>
                <!-- Title -->
                <h2 class="text-xl md:text-3xl text-white font-medium mt-6 mb-20">{{ .Params.sectionTitle }}</h2>
            </div>
        </section>
        <!-- main section end -->

        <!-- content section -->
        <section class="py-5 relative z-10 bg-[#f9fafb]" style="border-radius: 3rem 3rem 0 0;">
            <h2
                class="
            text-xl text-gray-600 font-medium text-center w-fit mx-auto my-5
            relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                {{ .Params.sectionTitle }}
            </h2>
            <div class="container">
                <!-- content from the file _index.md -->
                {{ .Content }}
                <!-- render all products -->
                <ul class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-5">
                    {{ $duration := 500 }}
                    {{ range .Pages }}
                    {{ if .Params.title }}
                    <li class="group flex flex-col relative rounded-md overflow-hidden text-center md:text-start" data-aos="fade-up"
                        data-aos-duration="{{ $duration }}">
                        <a href="{{ .RelPermalink | relURL }}" class="w-full h-full">
                            {{ with .Params.image }}
                            {{ $image := resources.Get . }}
                            {{ with $image }}
                            <img src="{{ .RelPermalink | relURL }}" alt="{{ .Params.title }}"
                                class="h-64 object-contain mx-auto">
                            {{ end }}
                            {{ end }}
                        </a>
                        <h4 class="my-2 text-2xl font-semibold">
                            {{ .Params.title }}
                        </h4>
                        <p class="text-sm">
                            {{ $desc := .Params.desc }}
                            {{ if gt (len $desc) 100 }}
                            {{ $truncatedDesc := substr $desc 0 85 }}
                            {{ $truncatedDesc = printf "%s..." $truncatedDesc }}
                            {{ $truncatedDesc }}
                            {{ else }}
                            {{ $desc }}
                            {{ end }}
                        </p>
                        <a href="{{ .RelPermalink | relURL }}"
                            class="text-blue-400 mt-3 block {{ if eq $.Site.Language.Lang "en" }} hover:translate-x-2
                            {{else}} hover:-translate-x-2 {{end}} duration-200">
                            {{ if eq $.Site.Language.Lang "en" }}
                            More Details <i class="fa-solid mx-3 fa-arrow-right"></i>
                            {{ else }}
                            المزيد من التفاصيل <i class="fa-solid mx-3 fa-arrow-left"></i>
                            {{ end }}</a>
                    </li>
                    {{ end }}
                    {{ $duration = add $duration 200 }}
                    {{ end }}
                </ul>
            </div>
        </section>

        <!-- ========== Advantages Start ========== -->
        {{ partial "advantages.html" (dict "advantagesTitle" .Site.Params.advantagesTitle "advantagesDescription"
        .Site.Params.advantagesDescription "advantagesContent" .Site.Params.advantagesContent) }}
        <!-- ========== Advantages End ========== -->

        {{ end }}