<!-- Main Footer In All Pages -->
<footer class="bg-gray-100 pt-14 pb-5">
    <div class="container">

        <div class="grid grid-cols-4 gap-14">
            <!-- Brand Logo -->
            <div class="xl:col-span-1 col-span-4 flex items-center justify-start flex-col gap-3">
                <a href="{{ .Site.Params.logoName.url }}" class="text-lg font-bold flex flex-col items-center justify-start">
                    <!-- import logo image -->
                    {{ $image := resources.Get "images/logo.png" }}
                    {{ with $image }}
                    <img class="h-24 w-24 mb-4" src="{{ .RelPermalink }}" alt="GTC">
                    {{ end }}
                    {{.Site.Params.logoName.name }}
                </a>
                <!-- social media -->
                <div class="flex gap-5">
                    <a href="https://www.linkedin.com/company/gmc-eg/" target="_blank" class="text-2xl"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/gmc.sadat" target="_blank" class="text-2xl"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/gmc.sadat" target="_blank" class="text-2xl"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="xl:col-span-3 col-span-4 xl:mx-20 ">
                <div class="grid md:grid-cols-3 gap-5">
                    <!-- Contact Information -->
                    <div class="grid gap-5 col-span-2">
                        <h3 class="text-lg font-bold">
                            {{ if eq $.Site.Language.Lang "en" }} Get in touch {{ else }} تواصل معنا {{ end }}
                        </h3>
                        {{ range .Site.Params.contactInfo }}
                        <a href="{{.link}}" target="{{.target}}">
                            <div class="flex items-center gap-2">
                                <i class="{{.icon}} text-gray-400"></i>
                                <p class="text-sm">{{.value}}</p>
                            </div>
                        </a>
                        {{end}}
                    </div>
                    <!-- website Languages -->
                    <div>
                        <h3 class="text-lg font-bold mb-5">
                            {{ if eq $.Site.Language.Lang "en" }} Languages {{ else }} اللغات {{ end }}
                        </h3>
                        <div>
                            {{ range .Site.Languages }}
                            <a class="block my-2" rel="alternate" href="{{ .Lang | relURL }}" hreflang="{{ .Lang }}"
                                lang="{{ .Lang }}">
                                {{ .LanguageName }}
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex gap-5 justify-between sm:items-center flex-col sm:flex-row pt-5">
            <!-- website menu (pages links) -->
            <ul class="links flex gap-3">
                {{ range .Site.Params.headerLinks }}
                <li><a class="uppercase text-xs md:text-sm" href="{{.url}}">{{.name}}</a></li>
                {{ end }}
            </ul>
            <!-- copyrights -->
            <p class="text-gray-400">{{.Site.Params.copyRights}}</p>
        </div>
    </div>
</footer>