<header
    class="light fixed top-0 inset-x-0 flex items-center z-40 w-full lg:bg-transparent text-black text-white lg:text-white transition-all py-5"
    id="header">
    <div class="container flex items-center justify-between relative">
        <div class="relative z-50">
            <a href="{{ .Site.Params.logoName.url }}" class="text-lg md:text-2xl font-bold">
                {{ .Site.Params.logoName.name }}
            </a>
        </div>
        <nav class="hidden md:block ms-auto" id="nav-menu">
            <ul class="md:flex flex-1 items-center justify-center">
                {{ range .Site.Params.headerLinks }}
                <li class="ml-4">
                    <a href="/GMC-website/{{ .url }}" class="">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <button class="md:hidden text-2xl relative z-50" id="nav-toggle" aria-label="Open Menu">
            <i class="fa-solid fa-bars" id="nav-icon"></i>
        </button>
    </div>
</header>