<header
    class="light fixed top-0 inset-x-0 flex items-center z-40 w-full lg:bg-transparent text-black text-white lg:text-white transition-all py-5"
    id="header">
    <div class="container flex items-center justify-between relative">
        <div class="relative z-50">
            <a href="{{ .Site.Params.logoName.url }}" class="text-md sm:text-lg md:text-2xl font-bold">
                {{ .Site.Params.logoName.name }}
            </a>
        </div>
        <nav class="hidden md:block ms-auto" id="nav-menu">
            <ul class="md:flex flex-1 items-center justify-center">
                {{ range .Site.Params.headerLinks }}
                <li class="ml-4">
                    <a href="{{ .url }}" class="">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
            <!-- Language Selector Button -->
        </nav>
        <div class="flex gap-4 items-center">
            <button onclick="changeLanguage()" class="text-sm sm:text-md md:mx-5 flex items-center sm:gap-2 sm:mx-3">
                <i class="fa-solid fa-globe hidden sm:block"></i> {{ if eq $.Site.Language.Lang "en" }}AR{{ else }}EN{{ end }}
            </button>
            <button class="md:hidden text-2xl relative z-50" id="nav-toggle" aria-label="Open Menu">
                <i class="fa-solid fa-bars" id="nav-icon"></i>
            </button>
        </div>
    </div>
</header>

<script>
    // JavaScript function to handle language change
    function changeLanguage() {
        // Get the current URL
        let currentUrl = window.location.href;

        // Check if "en" is present in the URL
        if (currentUrl.includes("/en/")) {
            // Replace "en" with "ar" in the URL
            let newUrl = currentUrl.replace("/en/", "/ar/");

            // Redirect to the new URL
            window.location.href = newUrl;
        }
        else if (currentUrl.includes("/ar/")) {
            // Replace "en" with "ar" in the URL
            let newUrl = currentUrl.replace("/ar/", "/en/");

            // Redirect to the new URL
            window.location.href = newUrl;
        }
    }
</script>