<!-- import hero section background -->
{{ $image := resources.Get "images/hero-bg-1.png" }}
{{ with $image }}
<section
    class="hero home sticky top-0 min-h-screen flex items-center bg-amber-500/5 py-20 hero-section z-[1] before:absolute before:inset-0 before:z-[-1] text-white"
    style="background-image:url('{{.RelPermalink | relURL }}')">
    {{ end }}
    <div class="container grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 relative z-10">
            <div class="flex flex-col gap-1 mt-16">
                <!-- Title -->
                <h1 class="md:text-lg text-md text-white font-bold">
                    {{.Site.Params.heroSection.title}}
                </h1>
                <h1 class="md:text-3xl text-2xl text-white font-bold">
                    {{.Site.Params.heroSection.titleTwo}}
                </h1>
                <h1 class="md:text-lg text-md text-white font-bold">
                    {{.Site.Params.heroSection.titleThree}}
                </h1>
            </div>
            <!-- Description -->
            <p class="w-full md:w-3/4 text-sm sm:text-lg font-medium mt-3 mb-5 text-slate-100  {{ if eq $.Site.Language.Lang "en"
                }}pl-5 border-l-2{{ else }} pr-5 border-r-2 {{ end }} border-amber-200">
                {{.Site.Params.heroSection.description}}</p>
            <!-- Buttons -->
            <div class="flex flex-wrap items-center gap-5">
                <a href="#products"
                    class="py-3 px-6 rounded border border-black text-white bg-black hover:shadow-lg hover:shadow-black/50 focus:outline focus:outline-black/50 transition-all duration-500 text-sm md:text-md"><i
                        class="fa-solid fa-arrow-down me-2"></i>
                    {{ if eq $.Site.Language.Lang "en" }} View Our Products {{ else }} عرض منتجاتنا {{ end }}
                </a>
                <a href="tel:+2001026229900"
                    class="py-3 px-6 rounded border border-black hover:border-black hover:bg-black hover:text-white hover:shadow-lg hover:shadow-black/50 focus:outline focus:outline-black/50 transition-all duration-500 text-sm md:text-md">
                    {{ if eq $.Site.Language.Lang "en" }} Contact Us {{ else }} اتصل بنا {{ end }}
                </a>
                <a href="#video" class="learn-more text-sm md:text-md" onclick="playVideo()">
                    <span class="circle" aria-hidden="true">
                        <span class="icon"><i class="fa-solid fa-play"></i></span>
                    </span>
                    <span class="button-text ">
                        {{ if eq $.Site.Language.Lang "en" }} Watch Now {{ else }} شاهد الان {{ end }}
                    </span>
                </a>
            </div>
        </div>
</section>