{{ define "main" }}

<!-- import logo image -->
{{ $logoName := .Site.Params.logoName }}
{{ $description := .Site.Params.description }}

<!-- ========== Hero section Start ========== -->
{{ partial "heroSection.html" . }}
<!-- ========== Hero section End ========== -->

<!-- Home Sections Wrapper Start -->
<section class="relative z-10 rounded-t-[3.5rem] overflow-hidden bg-[#f9fafb] flex flex-col gap-8">

    <!-- Video Start -->
    <section id="video" class="pt-10">
        <div class="container">
            <!-- title -->
            <h2
                class="text-xl sm:text-3xl mb-4 text-gray-600 font-medium text-center w-fit mx-auto relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                {{ if eq $.Site.Language.Lang "en" }}Corporation Video{{ else }}فيديو تعريفي{{ end }}
            </h2>
            <div class="facebook-responsive flex items-center justify-center">
                <iframe
                    src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgmc.sadat%2Fvideos%2F1040502466933804%2F&show_text=false&width=560&t=0"
                    width="560" height="314" style="overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allowFullScreen="true">
                </iframe>
            </div>
        </div>
    </section>
    <!-- Video End -->

    <!-- ========== About Section Start ========== -->
    {{ if eq $.Site.Language.Lang "en" }}
    <!-- About - EN -->
    <section>
        <!-- title -->
        <h2
            class="
            text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
            relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
            About Us
        </h2>
        <div class="container flex flex-col gap-2">
            <h2 class="text-xl text-center">
                We are the leading Global Mining Company in the field of mining. We have high and distinguished
                expertise in
                manufacturing raw materials. Through our partnerships with many local and international factories.
            </h2>
            <h2 class="text-xl text-center">
                We have achieved many great successes with numerous clients, both locally and internationally. Our
                products are
                characterized by high quality and reasonable prices. We have earned the trust of customers by
                maintaining
                quality and adhering to all contracts and commitments.
            </h2>
        </div>

    </section>
    {{ else }}
    <!-- About AR -->
    <section>
        <!-- title -->
        <h2
            class="
            text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
            relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
            من نحن
        </h2>
        <div class="container flex flex-col gap-2">
            <h2 class="text-xl text-center">
                نحن شركة العالمية للتعدين الرائدة في مجال التعدين ، لدينا خبرات عالية ومميزة في تصنيع المواد الخام
                الأولية
                من خلال شراكتنا مع كثير من المصانع المحلية والدولية .
            </h2>
            <h2 class="text-xl text-center">
                لقد حققنا الكثير من النجاحات الكبيرة مع الكثير من العملاء سواء على الصعيد المحلي أو الدولي
                منتجاتنا تتميز بالجودة العالية والسعر المناسب وحصلنا على ثقة العملاء من خلال الثبات على الجودة والإلتزام
                بكافة التعاقدات والإلتزامات .
            </h2>
        </div>
        <!-- content -->
        <div class="container">
        </div>
    </section>
    {{ end }}
    <!-- ========== About Section End ========== -->

    <!-- ========== Products Start ========== -->
    <section id="products">
        <div class="container">
            <!-- title -->
            <h2
                class="text-3xl text-gray-600 font-medium text-center w-fit mx-auto relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                {{ if eq $.Site.Language.Lang "en" }}Amazing Products{{ else }}منتجات مميزة{{ end }}
            </h2>
            <!-- description -->
            <p class="text-center text-gray-500 mt-2 mb-10">
                {{ if eq $.Site.Language.Lang "en" }}
                Product names might be similar, but the essence varies from one company to another. Our products uphold
                global standards of quality, ensuring excellent and sustainable quality for your product.
                {{ else }}
                تتشابه مسميات المنتجات ، ويختلف الجوهر من شركة لأخرى
                منتجاتنا ذات جودة بمعايير عالمية نضمن لك بها جودة ممتازة ومستدامة لمنتجك
                {{ end }}
            </p>
            <!-- products List -->
            <ul class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-5">
                {{ $products := slice }}
                {{ range .Site.RegularPages }}
                {{ if eq .Section "products" }}
                {{ $products = $products | append . }}
                {{ end }}
                {{ end }}
                {{ $latestProducts := slice }}
                {{ range $products }}
                {{ if and (lt (len $latestProducts) 4) (.Params.feature) }}
                {{ $latestProducts = $latestProducts | append . }}
                {{ end }}
                {{ end }}
                {{ $duration := 500 }}
                {{ range $latestProducts }}
                <li class="group flex flex-col relative rounded-md overflow-hidden text-center sm:text-start" data-aos="fade-up"
                    data-aos-duration="{{ $duration }}">
                        <a href="{{ .RelPermalink | relURL }}" class="w-full h-full">
                        {{ with .Params.image }}
                        {{ $image := resources.Get . }}
                        {{ with $image }}
                        <img src="{{ .RelPermalink | relURL }}" alt="{{ .Params.title }}" class="h-64 object-contain mx-auto">
                        {{ end }}
                        {{ end }}
                    </a>
                    <h4 class="my-2 text-2xl font-semibold">
                        {{ .Params.title }}
                    </h4>
                    <p class="text-sm">
                        {{ $desc := .Params.desc }}
                        {{ if gt (len $desc) 100 }}
                        {{ $truncatedDesc := substr $desc 0 85 }}
                        {{ $truncatedDesc = printf "%s..." $truncatedDesc }}
                        {{ $truncatedDesc }}
                        {{ else }}
                        {{ $desc }}
                        {{ end }}
                    </p>
                    <a href="{{ .RelPermalink | relURL }}"
                        class="text-blue-400 mt-3 block {{ if eq $.Site.Language.Lang "en" }} hover:translate-x-2
                        {{else}} hover:-translate-x-2 {{end}} duration-200">
                        {{ if eq $.Site.Language.Lang "en" }}
                        More Details <i class="fa-solid mx-3 fa-arrow-right"></i>
                        {{ else }}
                        المزيد من التفاصيل <i class="fa-solid mx-3 fa-arrow-left"></i>
                        {{ end }}</a>
                    </li>
                    {{ $duration = add $duration 200 }}
                    {{ end }}
                </ul>
                <a href="{{ if eq $.Site.Language.Lang "en" }}/en/products{{ else }}/ar/products{{ end }}"
                    class="block w-fit mx-auto text-md md:text-lg my-10 py-3 px-6 rounded border border-black text-white bg-blue-500 hover:shadow-lg hover:shadow-black/50 focus:outline focus:outline-black/50 transition-all duration-500">
                    {{ if eq $.Site.Language.Lang "en" }} All Products {{ else }}جميع المنتجات{{ end }}
                </a>
            </div>
        </section>
            <!-- ========== Products End ========== -->

    <!-- ========== Advantages Start ========== -->
    {{ partial "advantages.html" (dict "advantagesTitle" .Site.Params.advantagesTitle "advantagesDescription"
    .Site.Params.advantagesDescription "advantagesContent" .Site.Params.advantagesContent) }}
    <!-- ========== Advantages End ========== -->

    <!-- Start Our Partners -->
    {{ partial "ourPartners.html" . }}
    <!-- End Our Partners -->

    <!-- ========== Contact Section Start ========== -->
    {{ if eq $.Site.Language.Lang "en" }}
    <!-- Contact - EN -->
    <section class="relative contact-us">
        <div class="z-10 relative">
            <h2
                class="
        text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
        relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                Contact Us
            </h2>
            <div class="container">
                <div class="grid md:grid-cols-2 gap-5 align-items-center text-slate-900">
                    <!-- contact information -->
                    <div class="flex flex-col gap-10 mt-10">
                        <a style="text-decoration: none;" href="mailto:info@gmc-eg.com">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="500">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-blue-500/60 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <div class="grow flex flex-col">
                                    <h5 class="text-base text-gray-700">Email</h5>
                                    <span>info@gmc-eg.com</span>
                                    <span>gmc.sadat@gmail.com</span>
                                </div>
                            </div>
                        </a>

                        <a style="text-decoration: none;" href="tel:002 / 01026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-green-800/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">Sales</h5>
                                    <span>002 / 01017070928</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:002 / 01026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-orange-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">Head Office</h5>
                                    <span>002 / 01026229900</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="https://goo.gl/maps/pFUu4icDpY5GWBVb6" target="_blank"
                            rel="noopener noreferrer">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="900">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-teal-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-map-marker"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">Address</h5>
                                    <span>Sadat City - Extension of the Fifth Industrial Zone - Al Ersal street</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- contact Form -->
                    <div class="" data-aos="flip-left">
                        <div class="mb-6 relative bg-clip-border rounded-[0.1875rem]">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="3d5af27d-92b2-42ff-a076-e0de8060ee51">
                                <input type="hidden" name="subject" value="New Submission from GMC website" />
                                <input type="hidden" name="redirect" value="https://web3forms.com/success" />
                                <div>
                                    <div class="mb-5">
                                        <label for="exampleInputName1"
                                            class="block text-sm font-medium mb-1 text-gray-600">Name
                                            <span class="text-red-500">*</span></label>
                                        <input type="text" name="name"
                                            class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                            id="exampleInputName1" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="exampleInputEmail1"
                                        class="block text-sm font-medium mb-1 text-gray-600">Email
                                        <span class="text-red-500">*</span></label>
                                    <input type="email" name="mail"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="exampleInputEmail1" placeholder="Your Email">
                                </div>
                                <div class="mb-5">
                                    <label for="exampleFormControlTextarea1"
                                        class="block text-sm font-medium mb-1 text-gray-600">Message <span
                                            class="text-red-500">*</span></label>
                                    <textarea name="message"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="exampleFormControlTextarea1" rows="4"
                                        placeholder="Type Your Massage..."></textarea>
                                </div>
                                <button type="submit"
                                    class="inline-flex items-center text-sm bg-blue-500 text-white font-medium leading-6 text-center align-middle select-none py-2 px-4 rounded-md transition-all hover:shadow-lg hover:shadow-blue-400/60">
                                    Send
                                    <i class="fa-solid fa-paper-plane mx-2"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ else }}
    <!-- Contact AR -->
    <section class="relative contact-us">
        <div class="z-10 relative">
            <h2
                class="
                text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
                relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                تواصل معنا
            </h2>
            <div class="container">
                <div class="grid md:grid-cols-2 gap-5 align-items-center text-slate-900">
                    <!-- contact information -->
                    <div class="flex flex-col gap-10 mt-10">
                        <a style="text-decoration: none;" href="mailto:info@gmc-eg.com">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="500">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-blue-500/60 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <div class="flex flex-col">
                                    <h5 class="text-base text-gray-700">البريد الإلكتروني</h5>
                                    <span>info@gmc-eg.com</span>
                                    <span>gmc.sadat@gmail.com</span>
                                </div>

                            </div>
                        </a>

                        <a style="text-decoration: none;" href="tel:002 / 01017070928">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-green-800/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">المبيعات</h5>
                                    <span>201017070928+</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:002 / 01026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-orange-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">الإدارة الرئيسية</h5>
                                    <span>201026229900+</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="https://goo.gl/maps/pFUu4icDpY5GWBVb6" target="_blank"
                            rel="noopener noreferrer">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="900">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-teal-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-map-marker"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base">العنوان</h5>
                                    <span>مدينة السادات - امتداد المنطقة الصناعية الخامسة - شارع الإرسال</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- contact form -->
                    <div data-aos="flip-left">
                        <div class="mb-6 relative bg-clip-border rounded-[0.1875rem]">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="3d5af27d-92b2-42ff-a076-e0de8060ee51">
                                <input type="hidden" name="subject" value="New Submission from GMC website" />
                                <input type="hidden" name="redirect" value="https://web3forms.com/success" />
                                <div>
                                    <div class="mb-5">
                                        <label for="first-name" class="block text-sm font-medium mb-1 text-gray-600">
                                            الاسم
                                            <span class="text-red-500">*</span></label>
                                        <input type="text" name="name"
                                            class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                            id="first-name" placeholder="اسمك">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="email" class="block text-sm font-medium mb-1 text-gray-600">البريد
                                        الإلكتروني <span class="text-red-500">*</span></label>
                                    <input type="email" name="mail"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="email" placeholder="بريدك الإلكتروني">
                                </div>
                                <div class="mb-5">
                                    <label for="message" class="block text-sm font-medium mb-1 text-gray-600">الرسالة
                                        <span class="text-red-500">*</span></label>
                                    <textarea name="message"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="message" rows="4" placeholder="اكتب رسالتك..."></textarea>
                                </div>
                                <button type="submit"
                                    class="inline-flex items-center text-sm bg-blue-500 text-white font-medium leading-6 text-center align-middle select-none py-2 px-4 rounded-md transition-all hover:shadow-lg hover:shadow-blue-400/60">
                                    إرسال
                                    <i class="fa-solid fa-paper-plane mx-2"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- ========== Contact Section End ========== -->


</section>
<!-- Home Sections Wrapper End -->
{{ end }}