{{ define "main" }}

<!-- import logo image -->
{{ $logoName := .Site.Params.logoName }}
{{ $description := .Site.Params.description }}


<!-- ========== Hero section Start ========== -->
{{ partial "heroSection.html" . }}
<!-- ========== Hero section End ========== -->

<!-- Home Sections Wrapper Start -->
<div class="relative z-10 rounded-t-[3.5rem] overflow-hidden bg-[#f9fafb] flex flex-col gap-16">

    <!-- ========== Advantages Start ========== -->
    {{ partial "advantages.html" (dict "advantagesTitle" .Site.Params.advantagesTitle "advantagesDescription"
    .Site.Params.advantagesDescription "advantagesContent" .Site.Params.advantagesContent) }}
    <!-- ========== Advantages End ========== -->
    <!-- Start Our Partners -->
    {{ partial "ourPartners.html" . }}
    <!-- End Our Partners -->
    
    <!-- ========== Products Start ========== -->
    <section id="products">
        <div class="container">
            <!-- title -->
            <h2
                class="text-3xl text-gray-600 font-medium text-center w-fit mx-auto relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                {{ if eq $.Site.Language.Lang "en" }}Featured Products{{ else }}منتجات مميزة{{ end }}
            </h2>
            <!-- description -->
            <p class="text-center text-gray-500 mt-2 mb-10">
                {{ if eq $.Site.Language.Lang "en" }}A distinguished group of our products{{ else }}مجموعه مميزه من
                منتجات التعدين لدينا{{ end }}
            </p>
            <!-- products List -->
            <ul class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-5">
                {{ $products := slice }}
                {{ range .Site.RegularPages }}
                {{ if eq .Section "products" }}
                {{ $products = $products | append . }}
                {{ end }}
                {{ end }}
                {{ $latestProducts := slice }}
                {{ range $products }}
                {{ if lt (len $latestProducts) 8 }}
                {{ $latestProducts = $latestProducts | append . }}
                {{ end }}
                {{ end }}
                {{ $duration := 500 }}
                {{ range $latestProducts }}
                <li class="group flex flex-col relative rounded-md overflow-hidden" data-aos="fade-up"
                    data-aos-duration="{{ $duration }}">
                    <a href="{{ .RelPermalink | relURL }}" class="w-full h-full">
                        {{ with .Params.image }}
                        {{ $image := resources.Get . }}
                        {{ with $image }}
                        <img src="{{ .RelPermalink | relURL }}" alt="{{ .Params.title }}"
                            class="w-full h-64 object-cover">
                        {{ end }}
                        {{ end }}
                    </a>
                    <h4 class="my-2 text-2xl font-semibold">
                        {{ .Params.title }}
                    </h4>
                    <p class="text-sm">
                        {{ $desc := .Params.desc }}
                        {{ if gt (len $desc) 100 }}
                        {{ $truncatedDesc := substr $desc 0 85 }}
                        {{ $truncatedDesc = printf "%s..." $truncatedDesc }}
                        {{ $truncatedDesc }}
                        {{ else }}
                        {{ $desc }}
                        {{ end }}
                    </p>
                    <a href="{{ .RelPermalink | relURL }}"
                        class="text-blue-400 mt-3 block {{ if eq $.Site.Language.Lang "en" }} hover:translate-x-2
                        {{else}} hover:-translate-x-2 {{end}} duration-200">
                        {{ if eq $.Site.Language.Lang "en" }}
                        More Details <i class="fa-solid mx-3 fa-arrow-right"></i>
                        {{ else }}
                        المزيد من التفاصيل <i class="fa-solid mx-3 fa-arrow-left"></i>
                        {{ end }}</a>
                </li>
                {{ $duration = add $duration 200 }}
                {{ end }}
            </ul>
            <a href="{{ if eq $.Site.Language.Lang "en" }}/GMC-website/en/products{{ else }}/GMC-website/ar/products{{
                end }}"
                class="block w-fit mx-auto text-md md:text-lg my-10 py-3 px-6 rounded border border-black text-white bg-blue-500 hover:shadow-lg hover:shadow-black/50 focus:outline focus:outline-black/50 transition-all duration-500">
                {{ if eq $.Site.Language.Lang "en" }} All Products {{ else }}جميع المنتجات{{ end }}
            </a>
        </div>
    </section>
    <!-- ========== Products End ========== -->

    <!-- ========== About Section Start ========== -->
    {{ if eq $.Site.Language.Lang "en" }}
    <!-- About - EN -->
    <section>
        <!-- title -->
        <h2
            class="
            text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
            relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
            About Us
        </h2>
        <!-- content -->
        <div class="container">
            <div class="grid gap-10 grid-cols-1 md:grid-cols-2">
                <div class="p-6 bg-white rounded-md shadow-md hover:shadow-xl transition-all duration-500 aos-init aos-animate"
                    data-aos="fade-up">
                    <h2 class="text-2xl font-bold border-b pb-2">Our Mission</h2>
                    <p>Our mission summarizes how we meet the requirements and expectations of our clients and share in
                        business
                        development through a partnership pattern.</p>
                    <p>We always consider the strategic relations of different members in our process, including
                        clients,
                        suppliers,
                        and our factory teamwork.</p>
                </div>
                <div class="p-6 bg-white rounded-md shadow-md hover:shadow-xl transition-all duration-500 aos-init aos-animate"
                    data-aos="fade-up">
                    <h2 class="text-2xl font-bold border-b pb-2">Our Vision</h2>
                    <p>To be the best quality provider of mining products in Egypt and always keep up with new standards
                        and
                        techniques for
                        our global markets in partnership with our clients.</p>
                    <p>We will continue to provide support and maintain strong communication with our clients,
                        suppliers,
                        and
                        our
                        teamwork
                        employees.</p>
                </div>
            </div>
        </div>
    </section>
    {{ else }}
    <!-- About AR -->
    <section>
        <!-- title -->
        <h2
            class="
            text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
            relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
            من نحن
        </h2>
        <!-- content -->
        <div class="container">
            <div class="grid gap-10 grid-cols-1 md:grid-cols-2 justify-items-center">
                <div class="col-span-2 p-6 bg-white rounded-md shadow-md hover:shadow-xl transition-all duration-500 aos-init aos-animate"
                    data-aos="fade-up">
                    <h2 class="text-2xl font-bold border-b pb-2">بدايـه الطريق</h2>
                    <h3>
                        بدأ رحلتنا مع التعدين في ثمانينات القرن الماضي بالتجارة في كربونات الكالسيوم وحصوة الزعفران
                        وحصوة
                        سيناء وكسر
                        الرخام الألابستر والأسيوطي ، وظلت الرحلة التجارية مع هذه الخامات التعدينية حتى أوائل القرن
                        الحالي
                        حيث بدأنا
                        في تجهيز خطوط الإنتـاج اللازمة لإنتاج بعض الخامات التعدينية ، فافتتح المصنع في عام ٢٠١٣ بالمنطقة
                        الصناعية
                        الخامسة بمدينة السادات ، بأحدث خطوط الإنتاج والتجهيزات اللازمة للتعبئة والشحن .
                    </h3>
                    <h3>
                        ثم وفي عام ٢٠١٧، ومن أجل تلبية متطلبات السوق والمعايير العالمية ، تم تركيب أكثر من خط إنتاج
                        لنحصل
                        على
                        المنتجات التعدينية بجميع المقاسات المطلوبة لكي نلبي الطلبات في هذا المجال .
                    </h3>
                    <h3>
                        نحرص على مواكبة كل جديد والحرص على جودة الخامة ومن ثم التعامل معها مما يؤهلنا لمواكبة التقنية
                        العالمية مما
                        يمكننا من تقديم مستويات غير مسبوقة من الخدمات إرضاءً لمتطلبات عملائنا الكرام.
                    </h3>
                </div>
                <div class="col-span-2 grid gap-10 grid-cols-1 md:grid-cols-2 justify-items-center">
                    <div class="p-6 bg-white rounded-md shadow-md hover:shadow-xl transition-all duration-500 aos-init aos-animate"
                        data-aos="fade-up">
                        <h2 class="text-2xl font-bold border-b pb-2">مهمتنا</h2>
                        <h3>
                            تنحصر مهمتنا في التميز والتفوق في تلبية توقعات مساهمي وأصحاب العلاقة في شركتنا إضافة إلى
                            تقديم
                            خدماتنا
                            لمجتمعنا من خلال مساهمتنا في أن نكون عنصرا فاعلا في تنميتها.
                        </h3>
                        <h3>
                            نحقق مهمتنا هذه بالتعاون والتنسيق المتلازمين مع شركائنا المحليين والعالميين من البلدان الذين
                            نصدر
                            إليها ،
                            وكذلك بتطوير شركاتنا الاستراتيجية مع عملائنا وموردينا الكرام ، إضافة إلى تسخير آخر التقنيات
                            وتوفير
                            فرص عمل
                            صحية تتوافق مع متطلبات موظفينا الطبيعية والعاطفية والذهنية والروحية ، ملبّين بذلك متطلبات
                            وتطلعات
                            جميع أصحاب
                            العلاقة بشركتنا.
                        </h3>
                    </div>
                    <div class="p-6 bg-white rounded-md shadow-md hover:shadow-xl transition-all duration-500 aos-init aos-animate"
                        data-aos="fade-up">
                        <h2 class="text-2xl font-bold border-b pb-2">رؤيتنا</h2>
                        <h3>
                            رؤيتنا هي أن نبقى المورد المتميز والأهم لكربونات الكالسيوم وبقية الخامات التعدينية في
                            جمهورية
                            مصر
                            العربية ،
                            وتعزيز خدماتنا في الدول التي نصدر لها ، ومن ثم تطوير أسواقنا عالميا ، وسنحقق أهدافنا بعون
                            الله
                            بالنمو الذاتي
                            والاستحواذ والتطور المستمر ، بشراكة حقيقية مع عملائنا وموردينا الاستراتيجيين.
                        </h3>
                        <h3>
                            سنلبي المتطلبات المتغيرة لصناعتنا من خلال مرونتنا وسياساتنا التمكينة والابتكارية ، تماشيا مع
                            أعلى
                            درجات
                            الكفاءة المهنية.
                        </h3>
                        <h3>
                            سنحافظ على وندعم قنوات التواصل مع جمهورنا وعملائنا وموردينا وجميع أصحاب العلاقة بشركتنا ،
                            بغية
                            أن
                            نلبي
                            تطلعاتهم وتوقعاتهم بأمثل وأفضل الأساليب.
                        </h3>
                        <h3>
                            سنقدم مناخ عمل متميزا باحترافية لجميع موظفينا ، آخذين بالاعتبار العوامل البيئية والمناخية
                            إضافة
                            إلى
                            إرثنا
                            الذي هو موضع تقديرنا واحترامنا.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- ========== About Section End ========== -->

    <!-- ========== Contact Section Start ========== -->
    {{ if eq $.Site.Language.Lang "en" }}
    <!-- Contact - EN -->
    <section class="relative contact-us">
        <div class="z-10 relative">
            <h2
                class="
        text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
        relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                Contact Us
            </h2>
            <div class="container">
                <div class="grid md:grid-cols-2 gap-5 align-items-center">
                    <!-- contact information -->
                    <div class="flex flex-col gap-10 mt-10">
                        <a style="text-decoration: none;" href="mailto:info@gmc-eg.com">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="500">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-blue-500/60 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">Email</h5>
                                    <span>info@gmc-eg.com</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:+2001026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-orange-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">Main Administration</h5>
                                    <span>+2001026229900</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:+2001026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-green-800/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">Sales & Acquisitions</h5>
                                    <span>+2001017070928</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="https://goo.gl/maps/pFUu4icDpY5GWBVb6" target="_blank"
                            rel="noopener noreferrer">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="900">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-teal-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-map-marker"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">Address</h5>
                                    <span>Head Office & Factory / Fifth industrial zone, Sadat City , Monofia ,
                                        Egypt</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- contact Form -->
                    <div class="" data-aos="flip-left">
                        <div class="mb-6 relative bg-clip-border rounded-[0.1875rem]">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="f8eb2d6a-ef98-40fb-b6e7-917148cc3b1e">
                                <input type="hidden" name="subject" value="New Submission from GMC website" />
                                <input type="hidden" name="redirect" value="https://web3forms.com/success" />
                                <div>
                                    <div class="mb-5">
                                        <label for="exampleInputName1"
                                            class="block text-sm font-medium mb-1 text-gray-600">Name
                                            <span class="text-red-500">*</span></label>
                                        <input type="text" name="name"
                                            class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                            id="exampleInputName1" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="exampleInputEmail1"
                                        class="block text-sm font-medium mb-1 text-gray-600">Email
                                        <span class="text-red-500">*</span></label>
                                    <input type="email" name="mail"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="exampleInputEmail1" placeholder="Your Email">
                                </div>
                                <div class="mb-5">
                                    <label for="exampleFormControlTextarea1"
                                        class="block text-sm font-medium mb-1 text-gray-600">Message <span
                                            class="text-red-500">*</span></label>
                                    <textarea name="message"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="exampleFormControlTextarea1" rows="4"
                                        placeholder="Type Your Massage..."></textarea>
                                </div>
                                <button type="submit"
                                    class="inline-flex items-center text-sm bg-blue-500 text-white font-medium leading-6 text-center align-middle select-none py-2 px-4 rounded-md transition-all hover:shadow-lg hover:shadow-blue-400/60">
                                    Send
                                    <i class="fa-solid fa-paper-plane mx-2"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ else }}
    <!-- Contact AR -->
    <section class="relative contact-us">
        <div class="z-10 relative">
            <h2
                class="
                text-3xl text-gray-600 font-medium text-center w-fit mx-auto my-8
                relative after:bg-amber-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">
                تواصل معنا
            </h2>
            <div class="container">
                <div class="grid md:grid-cols-2 gap-5 align-items-center">
                    <!-- contact information -->
                    <div class="flex flex-col gap-10 mt-10">
                        <a style="text-decoration: none;" href="mailto:info@gmc-eg.com">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="500">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-blue-500/60 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">البريد الإلكتروني</h5>
                                    <span>info@gmc-eg.com</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:+2001026229900">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-orange-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">الأدارة الرئيسية</h5>
                                    <span>2001026229900+</span>
                                </div>
                            </div>
                        </a>
                        <a style="text-decoration: none;" href="tel:+2001017070928">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="700">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-green-800/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">المبيعات</h5>
                                    <span>2001017070928+</span>
                                </div>
                            </div>
                        </a>                        <a style="text-decoration: none;" href="https://goo.gl/maps/pFUu4icDpY5GWBVb6" target="_blank"
                            rel="noopener noreferrer">
                            <div class="flex mb-3" data-aos="fade-up" data-aos-duration="900">
                                <span
                                    class="flex items-center justify-center w-12 h-12 bg-teal-500/20 rounded-lg relative me-4 shrink-0">
                                    <i class="fa-solid fa-map-marker"></i>
                                </span>
                                <div class="grow">
                                    <h5 class="text-base text-gray-700">العنوان</h5>
                                    <span>المكتب الرئيسي والمصنع / المنطقة الصناعية الخامسة، مدينة السادات، المنوفية،
                                        مصر</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- contact form -->
                    <div data-aos="flip-left">
                        <div class="mb-6 relative bg-clip-border rounded-[0.1875rem]">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="f8eb2d6a-ef98-40fb-b6e7-917148cc3b1e">
                                <input type="hidden" name="subject" value="New Submission from GMC website" />
                                <input type="hidden" name="redirect" value="https://web3forms.com/success" />
                                <div>
                                    <div class="mb-5">
                                        <label for="first-name" class="block text-sm font-medium mb-1 text-gray-600">
                                            الاسم
                                            <span class="text-red-500">*</span></label>
                                        <input type="text" name="name"
                                            class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                            id="first-name" placeholder="اسمك">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="email" class="block text-sm font-medium mb-1 text-gray-600">البريد
                                        الإلكتروني <span class="text-red-500">*</span></label>
                                    <input type="email" name="mail"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="email" placeholder="بريدك الإلكتروني">
                                </div>
                                <div class="mb-5">
                                    <label for="message" class="block text-sm font-medium mb-1 text-gray-600">الرسالة
                                        <span class="text-red-500">*</span></label>
                                    <textarea name="message"
                                        class="py-2 px-4 leading-6 block w-full border-gray-300 border rounded text-sm focus:border-gray-300 focus:ring-0"
                                        id="message" rows="4" placeholder="اكتب رسالتك..."></textarea>
                                </div>
                                <button type="submit"
                                    class="inline-flex items-center text-sm bg-blue-500 text-white font-medium leading-6 text-center align-middle select-none py-2 px-4 rounded-md transition-all hover:shadow-lg hover:shadow-blue-400/60">
                                    إرسال
                                    <i class="fa-solid fa-paper-plane mx-2"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- ========== Contact Section End ========== -->

</div>
<!-- Home Sections Wrapper End -->
{{ end }}